*{
    margin: 0;
    padding: 0;
}
.body{
    font-size: 12px;
    background: #fd9a48;
}
.clear:after{
    content: '';
    display: block;
    clear: both;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}

/*公共样式，头部*/
.publicHeader{
    height: 48px;
    line-height: 48px;
    font-size: 14px;
    background: linear-gradient(to bottom right, #ffffff, #fcd8a3);
    background:-webkit-linear-gradient(to bottom, #ffffff, #fcd8a3);
    background:-moz-linear-gradient(to bottom, #ffffff, #fcd8a3);
    background:-ms-linear-gradient(to bottom, #ffffff, #fcd8a3);
}
.publicHeader h1{
    float: left;
    color: #fff;
    font-size: 22px;
    padding-left:700px;
    text-shadow: 2px 1px #000;
    background: url("../img/logo.jpg") 0 no-repeat;
}
.publicHeaderR{
    float: right;
    color: #fff;
    margin-right: 50px;

}
.publicHeaderR p{
    display: inline-block;
    font-weight: bold;
}
.publicHeaderR a{
    width: 100px;
    height: 28px;
    display: inline-block;
    border: 1px solid #f6dbca;
    background: linear-gradient(#fdc7b1,#fdc7b1,#fdc7b1,#fdc7b1);
    line-height: 28px;
    text-align: center;
    border-radius: 4px;
    font-weight: bold;
    color: #fff;

}
.publicHeaderR a:hover,.publicHeaderR a:active{
    border: 1px solid #f8c9a4;
    border-radius: 4px;
    font-weight: bold;
    background: linear-gradient(to bottom, #f1bb8d, #f8ae72, #f8af81, #fca16a);
}
/*时间*/
.publicTime{
    height: 28px;
    line-height: 28px;
    font-size: 12px;
    background: linear-gradient(to bottom, #ffffff, #fcd8a3);
    padding-left: 20px;
    color: #808589;
}

.publicTime a{
    float: right;
    margin-right: 50px;
    color: #626367;
}

/*公共部分主体内容*/
.publicMian{
    border-top: 1px solid #fcd2ab;
    display: flex;  /*变为弹性盒模型*/
    display: -webkit-flex;
    background: #fff;
}
/*左边*/
.left{
    width: 130px;
    background: url("../img/leftBg.png") 0 0 repeat-y;
    margin-right: 10px;
    height: 700px;
    min-height: 100%;

}
.leftH2{
    width: 140px;
    height: 30px;
    border-radius: 4px;
    line-height: 30px;
    text-align: center;
    color: #fff;
    background: #f58128;
    margin: 10px  auto;
    box-shadow:4px 4px rgba(246, 212, 186, 0.7);
}
.leftH2 span{
    width: 10px;
    height: 10px;
    display: inline-block;
    background: radial-gradient(#efbfad, #fcc399, #f6b892, #f8b972);
    border-radius: 50%;
}
.span1{
    margin-right: 10px;
}
.span2{
    margin-left: 12px;
}

.list{
    margin: 0 20px;
    font-weight: bold;
}
.list li{
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid rgba(212,212,212,0.5) ;
}
.list li:nth-child(1){
    background: url("../img/zd.png") 0  center no-repeat;
}
.list li:nth-child(2){
    background: url("../img/gys.png") 0  center no-repeat;
}


.list li:hover{
    background-color: #f5c6a5;
    border-radius: 4px;
}
.list li:active, #active{
    background-color: #eac0a7;
    border-radius: 4px;
}
.list a{
    color: #f3c7a8;
    display: inline-block;
    padding-left: 40px;
    width: 90%;
}


/*右边*/
.right{
    width: 85%;
}
/*右边所在位置栏*/
.location{
    height: 30px;
    line-height: 30px;
    border: 1px solid #faede4;
    border-radius: 8px;
    background: linear-gradient(to bottom, #fefefe,#ffffff,#f6fafd);
    color: #4a4a4a;
    padding-left: 30px;
}
.location span{
    color: #f5d6c3;
    font-weight:  bold;
}