.bj{
    height:91.5%;
    width: auto;
    background-color: #eeeaea;
    bottom:0;
    position: relative;
    z-index: 0;
    /*0层*/
    margin-top: 2px;
}
.div1{
    height:90%;
    position: absolute;
    width: 20%;
    background-image: linear-gradient(to bottom right, #ffffff, #fcd8a3);
    left: 3%;
    top:60px;
    border-right-color:black;
    box-shadow:0px 3px 3px #c8c8c8 ;
}
.div1-img{
    height: 150px;
    width: 150px;
    /*border-radius:200px;*/
    margin-left: 65px;
    margin-top: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
.div2{
    height:90%;
    position: absolute;
    width: 75%;
    background-color: white;
    left: 23%;
    top:60px;
    box-shadow:0px 3px 3px #c8c8c8 ;
    overflow-y:auto;
}
.p1 {
    text-align: center;
}
p{
    margin-left: 5px;
    font-size: small;
    margin-top: 10px;
}
.span1 {
    top: 30px;
    margin-left: 30px;
    color: #b6b4b4;
}
.add_button{
   background-color: rgba(252,216,163,0.41);
    border: 0;
    margin-left: 700px;
    margin-top: 30px;
    padding: 5px;
    border-radius:200px;
    width: 150px;
    height: 50px;
    font-size: large;
}
.add_button:hover{
    background-color: rgba(246,184,120,0.41);
}
.dish_table {
    margin-top: 15px;
    width: 100%;
    border-top: 1px solid rgba(190, 182, 182, 0.38);
    border-bottom: 1px solid rgba(190, 182, 182, 0.38);
}

.dish_table td{
    padding: 5px 5px;
    font-size: 15px;
    color: rgb(0, 0, 0);
    text-align: center;
}
.dish_table th {
    padding: 5px 5px;
    font-size: 15px;
    color: rgb(0, 0, 0);
   text-align: center;
    border-bottom: 1px solid rgba(190, 182, 182, 0.38);
}
.dish_img{
    border-radius:200px;
}

.smart-green {
    margin-left: auto;
    margin-right: auto;
    /*margin-top: 20px;*/
    max-width: 800px;
    background: #F8F8F8;
    padding: 10px 30px 10px 30px;
    font: 12px Arial, Helvetica, sans-serif;
    color: #666;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}
.smart-green label {
    display: block;
    margin: 0px 0px 5px;
}

.smart-green label > span {
    float: left;
    margin-top: 10px;
    color: #000000;
}

.smart-green input[type="text"],.smart-green textarea, .smart-green select {
    color: #555;
    height: 30px;
    width: 100%;
    padding: 0px 0px 0px 10px;
    margin-top: 2px;
    border: 1px solid #E5E5E5;
    background: #FBFBFB;
    outline: 0;
    -webkit-box-shadow: inset 1px 1px 2px rgba(238, 238, 238, 0.2);
    box-shadow: inset 1px 1px 2px rgba(238, 238, 238, 0.2);
    font: normal 14px/14px Arial, Helvetica, sans-serif;
}

.smart-green textarea {
    height: 100px;
    padding-top: 10px;
}
.smart-green .button {
    background-color: #9DC45F;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    border: none;
    padding: 10px 25px 10px 25px;
    color: #FFF;
    text-shadow: 1px 1px 1px #949494;
}

.smart-green .button:hover {
    background-color: #80A24A;
}
.show {
    background-color: rgba(178, 173, 173, 0.38);
    display: block;
    height:300px;
    width: 300px;
    border: 1px black;
    z-index: 3;
     left:349px;
    top: 100px;
    position: absolute;
}
.hide{
    display: none;
    height:300px;
    width: 300px;
    border: 1px black;
    margin: auto;
}

.div3{
    display: none;
    height:300px;
    width: 300px;
    border: 1px black;
    margin: auto;
}

.taste_add{
 width: 100%;
 padding: 15px;
}
.taste_add .lable
{
    width: 80%;
    height: 30%;
}
.taste_add .button {
    background-color: rgba(252,216,163,0.41);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    border: none;
    padding: 10px 25px 10px 25px;
    color: #FFF;
    text-shadow: 1px 1px 1px #949494;
}

.taste_add .button:hover {
    background-color: rgba(246,184,120,0.41);
}


.btn{
    border: 0;
    background-color: white;
}
.btn:hover{
 color: rgba(252,126,0,0.41);
}

.div10{
    height:80%;
    width: 80%;
    top:40px;
    left: 10%;
    border:1px solid #dedede;
    padding: 10px;
    position: absolute;
    overflow-y:auto
}
.order_table{
    margin-top: 15px;
    width: 100%;
    line-height:40px;
}

.div5{
    height:20%;
    position: absolute;
    width: 95%;
    background-image: linear-gradient(to bottom right, #ffffff, #fcd8a3);
    left: 3%;
    top:60px;
    border-right-color:black;
    box-shadow:0px 3px 3px #c8c8c8 ;
    text-align: center;
}

.div6{
    position: absolute;
    height:68.5%;
    width: 93.5%;
    background-color: white;
    left: 3%;
    border-top-color:black;
    box-shadow:0px 3px 3px #c8c8c8 ;
    overflow-y:auto;
    top:184px;
    padding: 10px;
    margin-top: 10px;
}
.div5_img{
    width: 75px;
    height: 75px;
    border-radius:200px;
    margin-top: 10px;
}
.btn2{
    background-color: #ffffff;
    border: 1px;
    border-radius:200px;
    right: 10px;
    bottom: 3px;
    padding: 3px;
    width: 60px;
    height: 30px;
    position: absolute;
    /*z-index: 2;*/
}
.btn2:hover{
    background-color: rgb(185, 179, 172);
}

.search{
    position: absolute;
    width:auto;
    top: 50px;
    left:520px;
    border: solid 1px rgba(252, 126, 0, 0.41);
    display: flex;
    flex-direction: row;
    align-items: center;

}
.search_button{
    background-color: rgba(252,216,163,0.41);
}
.search_button :hover{
    background-color: rgba(227, 146, 70, 0.41);
}
.search_input{
    float: left;
    /*line-height:50px;*/
    border: 0;
    outline: none; // 去掉外边的蓝色边框
   background-color: rgba(0, 0, 0, 0);
}
.search_button {
    float: left;
    /*line-height:50px;*/
    border: 0;
    border-right: 1px black;
     outline: none; // 去掉外边的蓝色边框
     background-color: rgba(0, 0, 0, 0);
}